@import "../../../styles/variables.scss";

#footer {
  // color: $white;
  background: $grey-neutral-30;
  padding: 2.5rem 4.5rem 2.5rem 44.5rem;
  overflow: hidden;
  position: relative;
  width: 100%;

  // .wrap-rigth {
  //   margin-right: 100px;
  // }

  &:before {
    content: '';
    // background: url('../../../assets/images/shapes-footer.svg') no-repeat left top;
    width: 178px;
    height: 119px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
