.form-group {
  margin-bottom: 15px;
  align-items: center;
}

label {
  margin-bottom: 5px;
  font-size: 18px;
}

.addCliente{
 padding-top: 5rem;
}

section{
  border: 0.1rem solid #Fefefe;
  border-radius: 2rem;
  background-color: rgb(231, 227, 227);
}