<section>
  <!-- <h1 class="content-title text-dark text-center">{{!clientiForm.form.valid ? 'Inserimento prenotazione' : 'Modifica prenotazione'}}</h1> -->
  <div class="">
    <div class="card-body">
      <form [formGroup]="registerReservationForm" method="get">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="nome">Data</label>
              <input type="date" formControlName="dateReservation" class="form-control">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="oraInizio">Inizio</label>
              <select class="form-select" formControlName="oraInizio" aria-label="Default select example">
                <option selected value="null">Inizio</option>
                <ng-template [ngIf]="cam.value === '1'">
                  <option *ngFor="let t1 of timeSelect" value="{{t1}}" >{{t1}}</option>
                </ng-template>
                <ng-template [ngIf]="cam.value === '2'">
                <option *ngFor="let t1 of timeSelect2" value="{{t1}}">{{t1}}</option>
                </ng-template>
                <ng-template [ngIf]="cam.value === '3'">
                <option *ngFor="let t1 of timeSelectPadel" value="{{t1}}">{{t1}}</option>
                </ng-template>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="oraFine">Fine</label>
              <select class="form-select" formControlName="oraFine" aria-label="Default select example">
                <option selected value="null">Fine</option>
                <ng-template [ngIf]="cam.value === '1'">
                  <option *ngFor="let t2 of timeSelect" value="{{t2}}" >{{t2}}</option>
                </ng-template>
                <ng-template [ngIf]="cam.value === '2'">
                <option *ngFor="let t2 of timeSelect2" value="{{t2}}">{{t2}}</option>
                </ng-template>
                <ng-template [ngIf]="cam.value === '3'">
                <option *ngFor="let t2 of timeSelectPadel" value="{{t2}}">{{t2}}</option>
                </ng-template>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="campo">Campo</label>
          <select class="form-select" #cam aria-label="Default select example" formControlName="campo" >
            <option selected value="null">Seleziona il campo</option>
            <option *ngFor="let ca of campi" value="{{ca.numero}}">{{ca.numero}} - {{ca.superficie}} - {{ca.sport}}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="luogoDiNascita">Tipo prenotazione</label>
          <select class="form-select" #tipo formControlName="evento" aria-label="Default select example">
            <!-- <option selected value="null">Seleziona modalità</option> -->
            <option selected value="prenotazione">Prenotazione</option>
            <option value="evento">Evento</option>
          </select>
        </div>

        <div class="form-group" *ngIf="cam.value != '3' && tipo.value === 'prenotazione'">
          <label for="luogoDiNascita">Modalità</label>
          <select class="form-select" formControlName="modality" aria-label="Default select example">
            <option selected value="null">Seleziona modalità</option>
            <option value="singolo">Singolo</option>
            <option value="doppio">Doppio</option>
          </select>
        </div>
        <div class="form-group" *ngIf="tipo.value === 'prenotazione'">
          <label for="giocatore1">Giocatore 1</label>
          <input type="text" formControlName="playerOne" class="form-control" id="giocatore1" name="giocatore1"
            placeholder="Inserisci il codice tessera" (keyup)="onTypeCognome(registerReservationForm.get('playerOne')?.value, 'playerOne')">
        </div>

        <div class="form-check" *ngFor='let item of tessere'>
          <ul class="list-group">
            <button class="list-group-item" (click)="radioChecked(item.clienteTess.cognome, 'playerOne', item.codiceTessera)">{{item.clienteTess.cognome}}</button>
          </ul>
        </div>

        <div class="form-group" *ngIf="tipo.value === 'prenotazione'">
          <label for="giocatore2">Giocatore 2</label>
          <input type="text" formControlName="playerTwo" class="form-control" id="giocatore2" name="giocatore2"
            placeholder="Inserisci il codice tessera" (keyup)="onTypeCognome(registerReservationForm.get('playerTwo')?.value, 'playerTwo')">
        </div>

        <div class="form-check" *ngFor='let item2 of tessere2'>
          <ul class="list-group">
            <button class="list-group-item" (click)="radioChecked(item2.clienteTess.cognome, 'playerTwo', item2.codiceTessera)">{{item2.clienteTess.cognome}}</button>
          </ul>
        </div>

        <div class="form-group" *ngIf="registerReservationForm.get('modality')?.value === 'doppio' && cam.value != '3' && tipo.value === 'prenotazione'">
          <label for="giocatore3">Giocatore 3</label>
          <input type="text" formControlName="playerThree" class="form-control" id="giocatore3" name="giocatore3"
            placeholder="Inserisci il codice tessera" (keyup)="onTypeCognome(registerReservationForm.get('playerThree')?.value, 'playerThree')">
        </div>

        <div class="form-check" *ngFor='let item3 of tessere3'>
          <ul class="list-group">
            <button class="list-group-item" (click)="radioChecked(item3.clienteTess.cognome, 'playerThree', item3.codiceTessera)">{{item3.clienteTess.cognome}}</button>
          </ul>
        </div>

        <div class="form-group" *ngIf="registerReservationForm.get('modality')?.value === 'doppio' && cam.value != '3' && tipo.value === 'prenotazione'">
          <label for="giocatore4">Giocatore 4</label>
          <input type="text" formControlName="playerFour" class="form-control" id="giocatore4" name="giocatore4"
            placeholder="Inserisci il codice tessera" (keyup)="onTypeCognome(registerReservationForm.get('playerFour')?.value, 'playerFour')">
        </div>

        <div class="form-check" *ngFor='let item4 of tessere4'>
          <ul class="list-group">
            <button class="list-group-item" (click)="radioChecked(item4.clienteTess.cognome, 'playerFour', item4.codiceTessera)">{{item4.clienteTess.cognome}}</button>
          </ul>
        </div>

        <div class="form-group" *ngIf="tipo.value === 'prenotazione' && cam.value === '3'">
          <label for="giocatore3">Giocatore 3</label>
          <input type="text" formControlName="playerThree" class="form-control" id="giocatore3" name="giocatore3"
            placeholder="Inserisci il codice tessera">
        </div>

        <div *ngIf="tipo.value === 'prenotazione' && cam.value === '3'">
        <div class="form-check" *ngFor='let item3 of tessere3'>
          <ul class="list-group">
            <button class="list-group-item" (click)="radioChecked(item3.clienteTess.cognome, 'playerThree', item3.codiceTessera)">{{item3.clienteTess.cognome}}</button>
          </ul>
        </div>
        </div>

        <div class="form-group" *ngIf="tipo.value === 'prenotazione' && cam.value === '3'">
          <label for="giocatore4">Giocatore 4</label>
          <input type="text" formControlName="playerFour" class="form-control" id="giocatore4" name="giocatore4"
            placeholder="Inserisci il codice tessera" (keyup)="onTypeCognome(registerReservationForm.get('playerFour')?.value, 'playerFour')">
        </div>

        <div *ngIf="tipo.value === 'prenotazione' && cam.value === '3'">
        <div class="form-check" *ngFor='let item4 of tessere4'>
          <ul class="list-group">
            <button class="list-group-item" (click)="radioChecked(item4.clienteTess.cognome, 'playerFour', item4.codiceTessera)">{{item4.clienteTess.cognome}}</button>
          </ul>
        </div>
        </div>

        <div class="form-group" *ngIf="tipo.value === 'evento'">
          <label for="evento">Evento</label>
          <input type="text" formControlName="event" class="form-control" id="evento" name="evento"
            placeholder="Inserisci il tipo di evento">
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
          <button type="button" class="btn btn-primary" (click)="inserimento()">Inserisci</button>
        </div>
      </form>
    </div>
  </div>
</section>
