<section class="content-main" style="max-width: 760px; margin-top: 20px;">
  <!-- <h1 class="content-title text-dark text-center">{{!clientiForm.form.valid ? 'Inserimento prenotazione' : 'Modifica prenotazione'}}</h1> -->
  <div class="content-header">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #clientiForm="ngForm">
      <div class="form-group">
        <label for="nome">Data</label>
        <input type="date" [(ngModel)]="prenotazione.data" class="form-control" id="data" name="data"
         required #data="ngModel">
      </div>
      <div class="form-group">
        <label for="oraInizio">Inizio</label>
        <select class="form-select" [(ngModel)]="prenotazione.oraInizio" aria-label="Default select example">
          <option selected>Seleziona l'ora d'inizio</option>
          <option *ngFor="let t1 of timeSelect" value="{{t1}}">{{t1}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="oraFine">Fine</label>
        <select class="form-select" [(ngModel)]="prenotazione.oraFine" aria-label="Default select example">
          <option selected>Seleziona l'ora di fine</option>
          <option *ngFor="let t2 of timeSelect" value="{{t2}}">{{t2}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="luogoDiNascita">Modalità</label>
        <select class="form-select" [(ngModel)]="prenotazione.modalita" aria-label="Default select example">
          <option selected>Seleziona modalità</option>
          <option value="singolo">Singolo</option>
          <option value="doppio">Doppio</option>
        </select>
      </div>
      <div class="form-group">
        <label for="cliente">Cliente</label>
        <select class="form-select" [(ngModel)]="prenotazione.cliente" aria-label="Default select example">
          <option selected>Seleziona il cliente</option>
          <option *ngFor="let c of clienti" value="{{c.id}}">{{c.nome}} - {{c.cognome}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="campo">Campo</label>
        <select class="form-select" [(ngModel)]="prenotazione.campo" aria-label="Default select example">
          <option selected>Seleziona il campo</option>
          <option *ngFor="let ca of campi" value="{{ca.numero}}">{{ca.numero}} - {{ca.superficie}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="sport">Sport</label>
        <select class="form-select" [(ngModel)]="prenotazione.sport" *ngFor="let s of sport" aria-label="Default select example">
          <option selected>Seleziona lo sport</option>
          <option value="{{s.id}}">{{s.tipo}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="giocatore1">Giocatore 1</label>
        <input type="text" [(ngModel)]="prenotazione.giocatore1" class="form-control" id="giocatore1"
          name="giocatore1" placeholder="Inserisci il nome o cognome del giocatore" required #giocatore1="ngModel">
      </div>
      <div class="form-group">
        <label for="giocatore2">Giocatore 2</label>
        <input type="text" [(ngModel)]="prenotazione.giocatore2" class="form-control" id="giocatore2"
          name="giocatore2" placeholder="Inserisci il nome o cognome del giocatore" required #giocatore2="ngModel">
      </div>
      <div class="form-group" *ngIf="prenotazione.modalita === 'doppio'">
        <label for="giocatore3">Giocatore 3</label>
        <input type="text" [(ngModel)]="prenotazione.giocatore2" class="form-control" id="giocatore3"
          name="giocatore3" placeholder="Inserisci il nome o cognome del giocatore" required #giocatore3="ngModel">
      </div>
      <div class="form-group" *ngIf="prenotazione.modalita === 'doppio'">
        <label for="giocatore4">Giocatore 4</label>
        <input type="text" [(ngModel)]="prenotazione.giocatore2" class="form-control" id="giocatore4"
          name="giocatore4" placeholder="Inserisci il nome o cognome del giocatore" required #giocatore4="ngModel">
      </div>
      <div class="row mt-4">
        <!-- <div class="col-3 ms-5">
          <button type="submit" [disabled]="!clientiForm.form.valid" class="btn btn-success">Salva</button>
        </div>
        <div class="col-4 ms-5">
          <button type="button" class="btn btn-secondary" (click)="resetForm(clientiForm.form)">Reset</button>
        </div>
        <div class="col-3">
          <button type="button" class="btn btn-primary" routerLink="/">Annulla</button>
        </div> -->
      </div>
    </form>
  </div>
</div>
</section>

