<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

  
              <button type="button" id="sidebarCollapse" class="btn btn-info">
                  <i class="fas fa-align-left"></i>
                  <span>Reservation App</span>
              </button>
  
       
      


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/">
            <span class="material-icons md-home" title="Home" aria-hidden="true"></span>
            Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/cliente-list" class="nav-link" aria-current="page">
          <span class="material-icons md-list_alt" title="List" aria-hidden="true"></span>
          Lista clienti
        </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cliente-add">
          <span class="material-icons md-add" title="New" aria-hidden="true"></span>
          Aggiungi cliente
        </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/campi-list">
            <span class="material-icons md-sports" title="Campi" aria-hidden="true"></span>
            Campi
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/reservation">
            <span class="material-icons md-apps" title="Prenotazione" aria-hidden="true"></span>
            Prenotazione
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/new-tess">
            <span class="material-icons md-add" title="newTess" aria-hidden="true"></span>
            Nuovo tesserato
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tesseramenti">
            <span class="material-icons md-drag_handle" title="Tesserati" aria-hidden="true"></span>
            Lista tesserati
          </a>
        </li>
      </ul>

      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Cerca" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Cerca</button>
      </form>

      <div class="col-nav">
        <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="md-28 material-icons md-menu"></i> </button>
        <ul class="nav">

          <li class="nav-item">
            <a class="nav-link btn-icon" onclick="darkmode(this)" href="#">
              <span class="material-icons md-nights_stay" title="Dark mode"></span>
            </a>
          </li>

          <!-- <li class="nav-item">
            <a class="nav-link btn-icon" href="#">
              <app-notification></app-notification>
            </a>
          </li> -->

          <li class="nav-item">
            <a class="nav-link" href="#"> English </a>
          </li>

          <li class="dropdown nav-item">
            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#">
              <!-- <img class="img-xs rounded-circle" src="/assets/images/avatars/avatar4.jpg" alt="User" width="35" height="35"> -->
              <img class="img-xs rounded-circle"  src="/assets/images/avatars/offline_user.png" alt="User" width="35" height="35">
            </a>
            <div class="dropdown-menu dropdown-menu-end">
              <a class="dropdown-item" routerLink="/login">Accedi</a>
              <a class="dropdown-item" routerLink="/signup">Registrati</a>
              <a class="dropdown-item disabled" href="#">Profilo</a>
              <a class="dropdown-item disabled" href="#">Settings</a>
              <hr class="dropdown-divider">
              <a class="dropdown-item disabled" routerLink="/logout">Logout</a>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
</nav>
