img {
  display: inline-block;
  max-width: 8rem;
}

.dduser {
  margin-right: 50px;
  margin-left: 20px;
}

/*
nav {
  margin-bottom: 0.8%;
}
*/
.nav {
  align-items: center;
}

.col-nav {
  display: flex;
  align-items: center;
  border-right: 10px;
  border-left: 10px;
}

.btn-mobile {
  display: none;
}

.btn-icon {
  text-align: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.nav-item > a {
  border-radius: 0.25rem;
  color: #adb5bd;
  display: block;
  text-decoration: none;
}

.search {
  border-right: 10px;
}

.md-menu {
    margin-left: -18px;
}

.material-icons {
  font-size: 30px;
}

nav {
  background: whitesmoke;
  border-bottom: #669cd9;
}
.navbar-collapse{
  justify-content: space-between;
}
.addReservation{
 display: inline;
  justify-content: space-between;
}
.menu {
  margin-top: 1rem;
  color: whitesmoke;
  border-color: #669cd9;
  margin-left: 2.5rem;
} button{
  justify-content: space-between;
  border: none;
  padding-left: 2rem;
  /* padding-top: 0.8rem; */
  background-color: whitesmoke;
  color: black;
  font-size: large;
}

.container-fluid {
  border-bottom: whitesmoke;
}

.icon {
  margin-right: 0.5rem;
  color: #669cd9;
}

img {
  margin-left: 0.5rem;
}


