<h1>Lista tesserati</h1>
<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th scope="col">Codice Tessera</th>
            <th scope="col">Cognome</th>
            <th scope="col">Nome</th>
            <th scope="col">Tipo Tessera</th>
            <th scope="col">Integrazione Tessera</th>
            <th scope="col">Data Tesseramento</th>
            <th scope="col">Scadenza Certificato</th>
            <th scope="col">Azioni</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let t of tesserati | paginate: {itemsPerPage: pageSize, currentPage: pageIndex}">
            <tr [ngClass]="t.attiva === false ? 'table-danger' : 'table-bordered'">
                <td>{{ t.codiceTessera }}</td>
                <td>{{ t.clienteTess.cognome }}</td>
                <td>{{ t.clienteTess.nome }}</td>
                <td>{{ t.tipo.tipo }}</td>
                <td>{{ t.integrazione.tipo }}</td>
                <td>{{ t.dataTesseramento | date :'dd/MM/yyyy' }}</td>
                <td>{{ t.scadenzaCertificato | date :'dd/MM/yyyy' }}</td>
                <td>
                    <div class="buttons-grid">
                        <button type="button" class="btn" style="color: blueviolet; font-size: 1.5rem;border-width: 2px;">
                            <span class="material-icons md-edit" [routerLink]="['/modifica-tessera', t.codiceTessera]" title="Modifica" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn" style="color: sandybrown; font-size: 1.5rem;border-width: 2px;">
                            <span class="material-icons md-event_note" title="Note" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn" style="color: red; font-size: 1.5rem; border-width: 2px;">
                            <span class="material-icons md-delete_outline" title="Elimina" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn" style="color: blue; font-size: 1.5rem;border-width: 2px;">
                            <span class="material-icons md-info" title="Info" aria-hidden="true"></span>
                        </button>
                    </div>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>
