@font-face {
  font-family: Corbel;
  src: url('../assets/fonts/pref/corbel/corbel.ttf') format("truetype");
  font-weight: 200;
  font-display: fallback;
}

@font-face {
  font-family: Corbel;
  src: url('../assets/fonts/pref/corbel/corbelb.ttf') format("truetype");
  font-weight: 200;
  font-display: fallback;
}

@font-face {
  font-family: Corbel;
  src: url('../assets/fonts/pref/corbel/corbeli.ttf') format("truetype");
  font-weight: 200;
  font-display: fallback;
}

@font-face {
  font-family: Corbel;
  src: url('../assets/fonts/pref/corbel/corbelz.ttf') format("truetype");
  font-weight: 200;
  font-display: fallback;
}

@font-face {
  font-family: Delicious;
  src: url('../assets/fonts/pref/delicious/Delicious-Bold.otf') format("truetype");
  font-weight: 200;
  font-display: fallback;
}

@font-face {
  font-family: Delicious;
  src: url('../assets/fonts/pref/delicious/Delicious-BoldItalic.otf') format("truetype");
  font-weight: 200;
  font-display: fallback;
}

@font-face {
  font-family: Delicious;
  src: url('../assets/fonts/pref/delicious/Delicious-Heavy.otf') format("truetype");
  font-weight: 200;
  font-display: fallback;
}

@font-face {
  font-family: Delicious;
  src: url('../assets/fonts/pref/delicious/Delicious-Italic.otf') format("truetype");
  font-weight: 200;
  font-display: fallback;
}

@font-face {
  font-family: Delicious;
  src: url('../assets/fonts/pref/delicious/Delicious-Roman.otf') format("truetype");
  font-weight: 200;
  font-display: fallback;
}


