$font-color: #141414;
$bg-color: #fafafa;
$white: #fff;
$greenSuccess: #13c55a;
$warning: #F6D61C;
$tertiary: #F25A50;
$bg-dialog: #F8F9FC;

$border-radius: 12px;
$blue-light: #1C5CCC;
$blue: #0e2e66;
$orange-light: #FFB08C;
$orange: #f48756;
$orange-dark: #e8713c;
$orange-shadow: rgba(244, 135, 86, 0.16);
$yellow: #ffe54d;
$aquamarine: #9de5d0;
$tertiary-pink-light: #FFEDF1;
$tertiary-petrol: #0EB4A1;
$purple: #8054BF;
$grey-neutral-20: #F1F5FA;
$grey-neutral-30: #E9EFF7;
$grey-neutral-40: #CED6E2;
$grey-neutral-50: #98A2B7;
$grey-neutral-60: #626F87;
$grey-neutral-70: #434E64;

$bg-main: #f1f5fa;
$bg-main-nav: #f8f9fc;

$tcv-color:#669cd9;
