<div class="content-main mt-4">
  <table class="table table-bordered">

    <thead class="table">
      <tr>
        <th scope="col">Codice Prenotazione</th>
        <th scope="col">Nominativo</th>
        <th scope="col">Codice Tessera</th>
        <th scope="col">Data Prenotazione</th>
        <th scope="col">Pagamento</th>
        <th scope="col">Pagato</th>
        <th scope="col">Note</th>
        <th scope="col">Azioni</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let dett of dettaglioPrenotazioni">
        <tr>
          <td>{{ dett.codicePrenotazione.codicePrenotazione }}</td>
          <td>{{ dett.cliente.clienteTess.nome + " " + dett.cliente.clienteTess.cognome}}</td>
          <td>{{ dett.cliente.codiceTessera}}</td>
          <td>{{ dett.codicePrenotazione.data | date:"dd/MM/YYYY"}}</td>
          <td>{{ dett.pagamento + '€'}}</td>
          <td>
          <ng-container *ngIf="dett.pagamentoEffettuato; else elseTemplate">
            <span class="material-icons md-savings" title="Pagamento  effettuato"
              style="font-size: 1.5rem; color: rgb(0, 128, 55);padding-left:4rem"></span>
          </ng-container>
          <ng-template #elseTemplate>
            <span class="material-icons md-savings" title="Pagamento non effettuato"
              style="font-size: 1.5rem; color: rgb(192, 6, 6);padding-left:4rem;"></span>
          </ng-template>
        </td>
          <td>{{ dett.note}}</td>
          <div class="row">
            <td><button type="button" class="btn" [disabled]="dett.pagamentoEffettuato == true" (click)="effettuaPagamento(dett)">
                <span title="Effetua Pagamento" aria-hidden="true" class="material-icons md-payment"
                  style="font-size: 1.5rem; color: rgb(0, 128, 55)"></span>
              </button>
              <button type="button" class="btn"  (click)="modificaPagamento(dett)">
                <span title="Modifica Pagamento" aria-hidden="true" class="material-icons md-payment"
                  style="font-size: 1.5rem; color: rgb(225, 28, 28)"></span>
              </button>
              <button type="button" class="btn">
                <span title="Inserisci note" aria-hidden="true" #id class="material-icons md-note" data-bs-toggle="modal"
                  data-bs-target="#exampleModal" (click)="selectId(dett)" style="font-size: 1.5rem; color: rgb(213, 202, 52)"></span>
              </button>
            </td>
          <!-- </div> -->
        </tr>
      </ng-container>

    </tbody>
  </table>
  <div class="modal fade" id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h5 class="modal-title" id="exampleModalLabel">Prenotazione</h5> -->
          <h1 class="modal-title">Inserimento Note</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="registerNoteForm" method="get">

            <div class="form-outline">
              <label class="form-label">Inserisci una nota:</label>
              <textarea formControlName="note" class="form-control"
              placeholder="Aggiungi un commento" id="textAreaExample" rows="4"></textarea>

            </div>


            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
              <button type="button" class="btn btn-primary" (click)="inserisciNote()" data-bs-dismiss="modal">Inserisci</button>
            </div>
          </form>
        </div>
      </div>
    </div>
