
td {
    width: max-content;
    text-align: center!important;
    align-items: center;
}

th {
    width: max-content;
    text-align: center!important;
    align-items: center;
}
table ::ng-deep .mat-header-cell {

    white-space: nowrap;
    text-align: center!important;

}


mat-header-cell {
    display: flex;
    justify-content: center;
}

.cont-table {
    overflow-x: auto;
}

.table thead{
    background-color: teal;
    border-radius: 10rem!important;

}
table{
    margin-top: 5rem;
    background-color: #fefefe;
}