.content-main{
 max-width: fit-content;
 max-height: min-content;
}

td, th {
    text-align:center;
    vertical-align: middle;
}

.material-icon {
    float: center;
}

/* .material-icons{
    padding-bottom: 20px;
} */
