
<h1 class="text-dark">Lista clienti</h1>
Ordina per :
<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="1"
    (change)="sortChange(1)" checked>
  <label class="form-check-label" for="flexRadioDefault1">
    Cognome
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="2"
    (change)="sortChange(2)">
  <label class="form-check-label" for="flexRadioDefault2">
    Data di Nascita
  </label>
</div>

<div class="col-4">
  <!-- <label for="surname_filter" class="form-label">Filtra cliente per cognome</label> -->
  <input type="text" class="form-control" id="surname_filter" #surname_filter
    (keyup)="filterClienteByCognome(surname_filter.value)">
  <div id="emailHelp" class="form-text">inserisci cognome cliente per filtrare.</div>
</div>
<!-- <div class="col-2 justify-content-left">
  <button (click)="filterByscadenzaCertificato()" class="btn btn-secondary btn-sm" style="margin-left: 10px">
    <fa-icon [icon]="faPager"></fa-icon>
  </button>
  <button (click)="ngOnInit()" class="btn btn-dark btn-sm" style="margin-left: 10px">
    <fa-icon [icon]="faEraser"></fa-icon>
  </button>
</div> -->
<table class="table" >
  <thead class="table">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Cognome</th>
      <th scope="col">Email</th>
      <th scope="col">Nazionalita</th>
      <th scope="col">Data Nascita</th>
      <th scope="col">Azioni</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let cl of clientiSort | paginate: {itemsPerPage: pageSize, currentPage: pageIndex}">
      <tr>
        <td>{{ cl.id }}</td>
        <td>{{ cl.nome }}</td>
        <td>{{ cl.cognome }}</td>
        <td>{{ cl.email }}</td>
        <td>{{ cl.nazionalita }}</td>
        <td>{{ cl.dataNascita | date: 'dd/MM/y' }}</td>
        <td>
          <div style="align-content: center;">
            <a [routerLink]="['/cliente-info', cl?.id]" class="btn btn-info btn-sm" style="margin-left: 10px">
              <span class="material-icons md-info" aria-hidden="true"></span>
            </a>
            <button [routerLink]="['/cliente-info',cl.id,'modifica']" class="btn btn-success btn-sm"
              style="margin-left: 10px">
             <span class="material-icons md-edit" aria-hidden="true"></span>
            </button>
            <button (click)="deleteCliente(cl.id)" class="btn btn-danger btn-sm" style="margin-left: 10px" id="myBtn">
              <span class="material-icons md-delete" aria-hidden="true"></span>
            </button>
          </div>
        </td>
        <!-- <td class="warning-8">
            <img *ngIf="cl.isScad" width="20" src="https://cdn-icons-png.flaticon.com/512/564/564619.png"/>
          </td> -->
      </tr>
    </ng-container>
  </tbody>
</table>

<nav class="float-end mt-3" aria-label="Page navigation">
  <pagination-controls
            class="my-pagination"
            (pageChange)="pageIndex = $event"
            previousLabel="Precedente"
            nextLabel="Successivo">
 </pagination-controls>
</nav>

<label style="margin-top: 8px; margin-left: 10px;">Clienti per pagina:</label>
<select class="form-select form-select-sm" style="width:5%; margin-left: 10px;" #size [(ngModel)]="pageSize">
  <option value=5>5</option>
  <option value=10>10</option>
  <option selected value=20>20</option>
  <option value=30>30</option>
</select>

