.footer {
  bottom:0;
  left:0;
  max-width: 100%!important;
  }

.container{
  justify-content: center;
display: flex;

}
/* 
.cover{
  background:linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.2) 100%),  url(https://th.bing.com/th/id/R.6121bf5323a713865503d90d5e876cbd?rik=AWlBFiMgG9LDBg&pid=ImgRaw&r=0) no-repeat;
  background-position: center ;
  background-size: cover;
} */