.modal-header .modal-body {
  margin-bottom: -110px;
}
table{
  background-color:#fefefe;
}
.modal-content {
  border: 0.1rem solid #Fefefe;
  border-radius: 2rem;
  background-color: rgb(231, 227, 227);
}