<!-- <div class="col mt-5 mb-5">
  <app-tesseramento-list></app-tesseramento-list>
</div> -->

<div class="addTess">
<section>
  
  
   <div class="card-body">
    <h1>{{title}}</h1>
     <form [formGroup]="tesseraForm" (ngSubmit)="onSubmit()">

      <div class="form-group" *ngIf="!this.route.snapshot.params['codice']">
        <label for="cliente">Cliente</label>
        <select class="form-select" formControlName="cliente" aria-label="Default select example">
          <option selected value="">Seleziona il cliente</option>
          <option *ngFor="let c of clientiNoTess" value="{{c.id}}">{{c.nome }} {{c.cognome}}</option>
        </select>
      </div>

      <div class="form-group" *ngIf="this.route.snapshot.params['codice']">
        <label for="cliente">Cliente</label>
        <input type="text" formControlName="cliente" class="form-control" minlength="2"
          placeholder="Inserisci il nome">
      </div>

      <div class="form-group">
        <label for="cliente">Tipo Tessera</label>
        <select class="form-select" formControlName="tipo" aria-label="Default select example">
          <option selected value="">Seleziona tipo tessera</option>
          <option *ngFor="let t of tipiTessera" value="{{t.id}}">{{t.tipo}}</option>
        </select>
      </div>

      <!-- <div class="form-group" *ngIf="this.route.snapshot.params['codice']">
        <label for="cliente">Tipo Tessera</label>
        <select class="form-select" formControlName="tipo" aria-label="Default select example">
          <option value="null">Seleziona tipo tessera</option>
          <option selected *ngFor="let t of tipiTessera" value="{{t.id}}">{{t.tipo}}</option>
        </select>
      </div> -->

      <div class="form-group">
        <label for="cliente">Integrazione Tessera</label>
        <select class="form-select" formControlName="integrazione" aria-label="Default select example">
          <option selected value="">Seleziona integrazione tessera</option>
          <option *ngFor="let i of integrazioneTessera" value="{{i.id}}">{{i.tipo}}</option>
        </select>
      </div>
      <div class="form-group">
         <label for="dataNascita">Scadenza Certificato</label>
         <input type="date" formControlName="scadenzaCertificato" class="form-control">
           <!-- <div *ngIf="getErrorNameAndLastname()">
             {{getErrorNameAndLastname()}}
           </div> -->
        </div>
        <div class="form-group" *ngIf="this.route.snapshot.params['codice']">
          <label for="dataNascita">Data tesseramento</label>
          <input type="date" formControlName="dataTesseramento" class="form-control">
            <!-- <div *ngIf="getErrorNameAndLastname()">
              {{getErrorNameAndLastname()}}
            </div> -->
         </div>
       <div class="row mt-4 justify-content-center">
         <div class="col-3 ms-5">
           <button [disabled]="!tesseraForm.valid" type="submit" class="btn btn-success">Salva</button>
         </div>
         <!-- <div class="col-4 ms-5">
           <button type="button" class="btn btn-secondary" (click)="resetForm(clientiForm.form)">Reset</button>
         </div> -->
         <div class="col-3">
           <button type="button" class="btn btn-primary" routerLink="/tesseramenti">Annulla</button>
         </div>
         <div class="col-3">
          <button type="button" class="btn btn-secondary" (click)="ngOnInit()">Discard</button>
        </div>
       </div>
   </form>
   </div>


 </section>

</div>