<div class="tabellaCampi">

  <h2 class="text-dark">Campi inseriti</h2>
  <table>
    <thead>
      <tr>
        <th>Numero</th>
        <th>Superficie</th>
        <th>Sport</th>
        <th>Azioni</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of campiCopy">
        <td>{{ c.numero }}</td>
        <td>{{ c.superficie }}</td>
        <td>{{ c.sport }}</td>

        <td>
          <div style="align-content: center;">
            <button (click)="deleteCampo(c.numero)" class="btn btn-danger"><span class="material-icons md-delete"
                aria-hidden="true"></span></button>
          </div>
        </td>
      </tr>

    </tbody>

  </table>
</div>