@import "./styles/fonts";
@import "./styles/variables";
@import "./styles/other-screen";
@import "./styles/tablet";
@import "./styles/mobile";

.content {
  margin-inline: 100px;
  padding: 0;
  color: $fut-blue;
  background: $bg-color;
  font-family: Poppins;
  font-size: 0.875rem;
  text-decoration: none;

  h1 {
    color: $fut-blue;
    background-color: white;
    font-weight: 700;
    font-family: Poppins;
  }

  a,
  a:hover {
    text-decoration: none;
    cursor: pointer;
  }

  a:focus,
  a:active,
  button:focus,
  button:active {
    outline: 0;
  }

  button:hover,
  button:focus {
    outline: 0;
  }

  .clear {
    clear: both;
  }

  h1 {
    color: $fut-blue;
    font-weight: 700;
    font-family: Space-Grotesk;
  }

  h2 {
    color: $fut-blue;
    font-weight: 700;
    font-family: Space-Grotesk;
  }

  h3 {
    color: $fut-blue;
    font-weight: 700;
    font-family: Space-Grotesk;
  }

  h4 {
    color: $fut-blue;
    font-weight: 700;
    font-family: Space-Grotesk;
  }

  h5 {
    color: $fut-blue;
    font-weight: 700;
    font-family: Space-Grotesk;
  }

  h6 {
    color: $fut-blue;
    font-weight: 700;
    font-family: Space-Grotesk;
  }

  p {
    color: $fut-blue;
    margin-bottom: 0.5rem;
  }

}
