<h1 class="text-dark mt-3">Prenotazioni del giorno</h1>
<!--Ordina per :
<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="1"
    (change)="sortChange(1)" checked>
  <label class="form-check-label" for="flexRadioDefault1">
    Cognome
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="2"
    (change)="sortChange(2)">
  <label class="form-check-label" for="flexRadioDefault2">
    Data di Nascita
  </label>
</div>

<div class="col-4">
  <!-- <label for="surname_filter" class="form-label">Filtra cliente per cognome</label> -->
  <!--<input type="text" class="form-control" id="surname_filter" #surname_filter
    (keyup)="filterClienteByCognome(surname_filter.value)">
  <div id="emailHelp" class="form-text">inserisci cognome cliente per filtrare.</div>
</div>-->
<!-- <div class="col-2 justify-content-left">
  <button (click)="filterByscadenzaCertificato()" class="btn btn-secondary btn-sm" style="margin-left: 10px">
    <fa-icon [icon]="faPager"></fa-icon>
  </button>
  <button (click)="ngOnInit()" class="btn btn-dark btn-sm" style="margin-left: 10px">
    <fa-icon [icon]="faEraser"></fa-icon>
  </button>
</div> -->
<table class="table table-bordered table-striped" >
  <thead class="table-dark">
    <tr>
      <th scope="col">Data</th>
        <th scope="col">Inizio</th>
        <th scope="col">Fine</th>
        <th scope="col">Modalita</th>
        <th scope="col">Cliente 1</th>
        <th scope="col">Cliente 2</th>
        <th scope="col">Campo</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let p of prenotazioni | paginate: {itemsPerPage: pageSize, currentPage: pageIndex}">
      <tr>
        <td>{{ p.data | date :'dd/MM/yy' }}</td>
        <td>{{ p.oraInizio | date :'HH:mm' }}</td>
        <td>{{ p.oraFine | date :'HH:mm' }}</td>
        <td>{{ p.modalita }}</td>
        <td>{{ p.modalita === 'singolo' ? p.giocatore1.clienteTess.nome +' '+ p.giocatore1.clienteTess.cognome : p.giocatore1.clienteTess.nome +' '+p.giocatore1.clienteTess.cognome + '-' + p.giocatore3.clienteTess.nome +' '+p.giocatore3.clienteTess.cognome }}</td>
         <td>{{ p.modalita === 'singolo' ? p.giocatore2.clienteTess.nome +' '+ p.giocatore2.clienteTess.cognome : p.giocatore2.clienteTess.nome +' '+p.giocatore2.clienteTess.cognome + '-' + p.giocatore4.clienteTess.nome +' '+p.giocatore4.clienteTess.cognome }}</td>
        <td>{{ p.campo.numero + ' ' + p.campo.superficie }}</td>
      </tr>
    </ng-container>
  </tbody>
</table>

<nav class="float-end mt-3" aria-label="Page navigation">
  <pagination-controls
            class="my-pagination"
            (pageChange)="pageIndex = $event"
            previousLabel="Precedente"
            nextLabel="Successivo">
 </pagination-controls>
</nav>

<label style="margin-top: 8px; margin-left: 10px;">Clienti per pagina:</label>
<select class="form-select form-select-sm" style="width:2.5%; margin-left: 10px;" #size [(ngModel)]="pageSize">
  <option value=10>10</option>
  <option selected value=20>20</option>
  <option value=30>30</option>
</select>

